<div class="row-layout group">
  <igx-card [elevated]="true" class="card-4">
    <igx-card-media height="300px" class="media-content">
      <img src="https://www.infragistics.com/angular-demos/assets/images/card/media/ROZES-Under-the-Grave.jpg" alt="" class="image" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Rozes
      </h3>
      <h5 igxCardHeaderSubtitle>
        Default style card
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <div class="column-layout group_1">
        <p class="text-3">
          Custom content inside a column layout with W 100%. Text component added has size unset.
        </p>
      </div>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxButton="flat" type="button" class="button-4">
          Button
        </button>
      </ng-container>
      <ng-container igxEnd>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
  <igx-card [elevated]="true" class="card">
    <igx-card-header>
      <div igxCardThumbnail>
        <igx-avatar src="/assets/Avatar5.png" shape="rounded" class="avatar"></igx-avatar>
      </div>
      <h3 igxCardHeaderTitle>
        Rozes
      </h3>
      <h5 igxCardHeaderSubtitle>
        Social style card; Img H unset
      </h5>
    </igx-card-header>
    <igx-card-media height="200">
      <img src="https://www.infragistics.com/angular-demos/assets/images/card/media/ROZES-Under-the-Grave.jpg" alt="" class="image" />
    </igx-card-media>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
      <ng-container igxEnd>
        <button igxButton="flat" type="button" class="button-4">
          Play
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
  <igx-card [elevated]="true" class="card-1">
    <igx-card-media height="300px" class="media-content">
      <img src="https://www.infragistics.com/angular-demos/assets/images/card/media/ROZES-Under-the-Grave.jpg" alt="" class="image" />
    </igx-card-media>
    <igx-card-header>
      <div igxCardThumbnail>
        <igx-avatar src="/assets/Avatar6.png" class="avatar-1"></igx-avatar>
      </div>
      <h3 igxCardHeaderTitle>
        Rozes
      </h3>
      <h5 igxCardHeaderSubtitle>
        Default card + H unset
      </h5>
    </igx-card-header>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxButton="flat" type="button" class="button-4">
          Button
        </button>
      </ng-container>
      <ng-container igxEnd>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
  <igx-card [elevated]="true" [horizontal]="true" class="card-2">
    <div class="group_2">
      <igx-card-header>
        <h3 igxCardHeaderTitle>
          Rozes
        </h3>
        <h5 igxCardHeaderSubtitle>
          Media style card + img W set
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <p class="ig-typography__body-2 text-3">
          As I have always said: I write what’s real and what’s true, even if it means throwing myself under the bus....
        </p>
      </igx-card-content>
      <igx-card-actions class="actions-content">
        <ng-container igxStart>
          <button igxButton="contained" type="button" class="button-4">
            Button
          </button>
          <button igxButton="flat" type="button" class="button-4">
            Button
          </button>
        </ng-container>
      </igx-card-actions>
    </div>
    <igx-card-media width="150px" class="media-content_1">
      <img src="https://www.infragistics.com/angular-demos/assets/images/card/media/ROZES-Under-the-Grave.jpg" alt="" class="image" />
    </igx-card-media>
  </igx-card>
  <igx-card [elevated]="true" class="card-1-1">
    <igx-card-header>
      <div igxCardThumbnail>
        <igx-avatar initials="AB" shape="circle" class="avatar_1"></igx-avatar>
      </div>
      <h3 igxCardHeaderTitle>
        Rozes
      </h3>
      <h5 igxCardHeaderSubtitle>
        Large avatar
      </h5>
    </igx-card-header>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
      </ng-container>
      <ng-container igxEnd>
        <button igxButton="flat" type="button" class="button-4">
          Play
        </button>
        <button igxButton="flat" type="button" class="button-4">
          Button
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
  <igx-card [elevated]="true" [horizontal]="true" class="card-3">
    <div class="group_3">
      <div class="row-layout">
        <igx-card-header>
          <div igxCardThumbnail></div>
          <h3 igxCardHeaderTitle>
            Rozes
          </h3>
          <h5 igxCardHeaderSubtitle>
            Medium avatar+ actions col
          </h5>
        </igx-card-header>
      </div>
      <igx-card-content class="body-content">
        <div class="column-layout group_4">
          <p class="ig-typography__body-2 text-3">
            Custom content inside a column layout (W: unset) and text component added size: unset.
          </p>
        </div>
      </igx-card-content>
    </div>
    <igx-divider [vertical]="true"></igx-divider>
    <igx-card-actions [vertical]="true" class="igx-card-actions--justify actions-content_1">
      <ng-container igxEnd>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
  <igx-card [elevated]="true" class="card">
    <igx-card-header>
      <div igxCardThumbnail>
        <igx-avatar shape="circle" class="avatar_2">
          <igx-icon>
            people
          </igx-icon>
        </igx-avatar>
      </div>
      <h3 igxCardHeaderTitle>
        Sm avatar + md card
      </h3>
      <h5 igxCardHeaderSubtitle>
    </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="ig-typography__body-2 text-3">
        As I have always said: I write what’s real and what’s true, even if it means throwing myself under the bus....
      </p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxButton="flat" type="button" class="button-4">
          Button
        </button>
      </ng-container>
      <ng-container igxEnd>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            adb
          </igx-icon>
        </button>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
  <igx-card [elevated]="true" class="card-5">
    <igx-card-header>
      <div igxCardThumbnail>
        <igx-avatar shape="circle">
          <igx-icon>
            people
          </igx-icon>
        </igx-avatar>
      </div>
      <h3 igxCardHeaderTitle>
        Large card
      </h3>
      <h5 igxCardHeaderSubtitle>
    </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="ig-typography__body-2 text-3">
        As I have always said: I write what’s real and what’s true, even if it means throwing myself under the bus....
      </p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxButton="flat" type="button" class="button-4">
          Button
        </button>
      </ng-container>
      <ng-container igxEnd>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            adb
          </igx-icon>
        </button>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxIconButton="flat" class="icon-button-1-2">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
</div>
<div class="row-layout group_5">
  <igx-calendar [weekStart]="2" [hasHeader]="false" class="calendar"></igx-calendar>
  <igx-calendar [hasHeader]="true" headerOrientation="horizontal" [value]="date" class="calendar"></igx-calendar>
  <igx-calendar [showWeekNumbers]="true" [monthsViewNumber]="2" [hasHeader]="true" headerOrientation="horizontal" class="calendar"></igx-calendar>
</div>
