<div class="row-layout group">
  <h1 class="h1">
    Building faster paths to amazing experiences
  </h1>
  <img src="https://static.infragistics.com/marketing/IDS/infragistics/hero.png?v=20191212192700" alt="" class="image" />
</div>
<div class="column-layout group_1">
  <img src="https://static.infragistics.com/marketing/IDS/infragistics/hero.png?v=20191212192700" alt="" class="image_1" />
  <img src="/assets/Avatar1.png" alt="" class="image_2" />
  <igx-card class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Title goes here...
      </h3>
      <h5 igxCardHeaderSubtitle>
        Subtitle goes here...
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <img src="https://static.infragistics.com/marketing/Website/General/Infragistics-horizontal.svg" alt="" class="image_3" />
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxButton="flat" type="button" class="button">
          Button
        </button>
      </ng-container>
      <ng-container igxEnd>
        <button igxIconButton="flat">
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxIconButton="flat">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxIconButton="flat">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
  <img alt="" class="image_4" />
</div>
