<div class="column-layout group">
  <div class="row-layout group_1">
    <div class="column-layout group_2">
      <div class="column-layout group_3">
        <h1 class="content">
          Heading 1
        </h1>
        <h2 class="content">
          Heading 2
        </h2>
        <h3 class="content">
          Heading 3
        </h3>
        <h4 class="content">
          Heading 4
        </h4>
        <h5 class="content">
          Heading 5
        </h5>
        <h6 class="content">
          Heading 6
        </h6>
        <p class="ig-typography__subtitle-1 content">
          Subtitle 1
        </p>
        <p class="ig-typography__subtitle-2 content">
          Subtitle 2
        </p>
      </div>
      <div class="column-layout group">
        <p class="content">
          Body 1
        </p>
        <p class="ig-typography__body-2 content">
          Body 2
        </p>
        <p class="ig-typography__caption content">
          Caption
        </p>
        <p class="ig-typography__overline content">
          Overline
        </p>
      </div>
    </div>
    <div class="column-layout group_2">
      <div class="column-layout group_3">
        <h1 class="content_1">
          Heading 1
        </h1>
        <h2 class="content_1">
          Heading 2
        </h2>
        <h3 class="content_1">
          Heading 3
        </h3>
        <h4 class="content_1">
          Heading 4
        </h4>
        <h5 class="content_1">
          Heading 5
        </h5>
        <h6 class="content_1">
          Heading 6
        </h6>
        <p class="ig-typography__subtitle-1 content_1">
          Subtitle 1
        </p>
        <p class="ig-typography__subtitle-2 content_1">
          Subtitle 2
        </p>
      </div>
      <div class="column-layout group">
        <p class="text">
          Body 1
        </p>
        <p class="ig-typography__body-2 text">
          Body 2
        </p>
        <p class="ig-typography__caption text">
          Caption
        </p>
        <p class="ig-typography__overline text">
          Overline
        </p>
      </div>
    </div>
    <div class="column-layout group_2">
      <div class="column-layout group_3">
        <h1 class="content_2">
          Heading 1
        </h1>
        <h2 class="content_2">
          Heading 2
        </h2>
        <h3 class="content_2">
          Heading 3
        </h3>
        <h4 class="content_2">
          Heading 4
        </h4>
        <h5 class="content_2">
          Heading 5
        </h5>
        <h6 class="content_2">
          Heading 6
        </h6>
        <p class="ig-typography__subtitle-1 content_2">
          Subtitle 1
        </p>
        <p class="ig-typography__subtitle-2 content_2">
          Subtitle 2
        </p>
      </div>
      <div class="column-layout group">
        <p class="text_1">
          Body 1
        </p>
        <p class="ig-typography__body-2 text_1">
          Body 2
        </p>
        <p class="ig-typography__caption text_1">
          Caption
        </p>
        <p class="ig-typography__overline text_1">
          Overline
        </p>
      </div>
    </div>
  </div>
  <div class="row-layout group_4">
    <div class="column-layout group_5">
      <p class="ig-typography__subtitle-2 text_2">
        Primary
      </p>
      <div class="column-layout group_6">
        <div class="row-layout group_7">
          <p class="ig-typography__subtitle-2 text_3">
            Primary -50
          </p>
        </div>
        <div class="row-layout group_8"></div>
        <div class="row-layout group_9"></div>
        <div class="row-layout group_10"></div>
        <div class="row-layout group_11"></div>
        <div class="row-layout group_12">
          <p class="ig-typography__subtitle-2 text_4">
            Primary -500
          </p>
        </div>
        <div class="row-layout group_13"></div>
        <div class="row-layout group_14"></div>
        <div class="row-layout group_15"></div>
        <div class="row-layout group_16">
          <p class="ig-typography__subtitle-2 text_5">
            Primary -900
          </p>
        </div>
      </div>
      <p class="ig-typography__subtitle-2 text_2">
        Grays
      </p>
      <div class="column-layout group_6">
        <div class="row-layout group_17">
          <p class="ig-typography__subtitle-2 text_6">
            Gray -50
          </p>
        </div>
        <div class="row-layout group_18"></div>
        <div class="row-layout group_19"></div>
        <div class="row-layout group_20"></div>
        <div class="row-layout group_21"></div>
        <div class="row-layout group_22">
          <p class="ig-typography__subtitle-2 text_7">
            Gray -500
          </p>
        </div>
        <div class="row-layout group_23"></div>
        <div class="row-layout group_24"></div>
        <div class="row-layout group_25"></div>
        <div class="row-layout group_26">
          <p class="ig-typography__subtitle-2 text_8">
            Gray -900
          </p>
        </div>
      </div>
    </div>
    <div class="column-layout group_5">
      <p class="ig-typography__subtitle-2 text_2">
        Secondary
      </p>
      <div class="column-layout group_6">
        <div class="row-layout group_27">
          <p class="ig-typography__subtitle-2 text_9">
            Primary -50
          </p>
        </div>
        <div class="row-layout group_28"></div>
        <div class="row-layout group_29"></div>
        <div class="row-layout group_30"></div>
        <div class="row-layout group_31"></div>
        <div class="row-layout group_32">
          <p class="ig-typography__subtitle-2 text_4">
            Secondary -500
          </p>
        </div>
        <div class="row-layout group_33"></div>
        <div class="row-layout group_34"></div>
        <div class="row-layout group_34"></div>
        <div class="row-layout group_35">
          <p class="ig-typography__subtitle-2 text_10">
            Primary -900
          </p>
        </div>
      </div>
      <p class="ig-typography__subtitle-2 text_2">
        Special colors
      </p>
      <div class="column-layout group_36">
        <div class="row-layout group_37"></div>
        <div class="row-layout group_38"></div>
        <div class="row-layout group_39"></div>
        <div class="row-layout group_40"></div>
        <div class="row-layout group_41"></div>
      </div>
    </div>
  </div>
</div>
