<div class="row-layout group">
  <igx-grid [data]="basicGrid1_Data_Request?.items ?? []" primaryKey="customerId" rowSelection="multiple" columnSelection="single" [rowEditable]="true" pagingMode="remote" [moving]="true" [allowFiltering]="true" filterMode="excelStyleFilter" (rowEditDone)="rowEditDoneBasicGrid1($event)" (rowAdded)="rowAddedBasicGrid1($event)" (rowDeleted)="rowDeletedBasicGrid1($event)" class="basic-grid-1">
    <igx-grid-toolbar>
      <igx-grid-toolbar-actions>
        <igx-grid-toolbar-pinning></igx-grid-toolbar-pinning>
        <igx-grid-toolbar-hiding></igx-grid-toolbar-hiding>
      </igx-grid-toolbar-actions>
      <igx-grid-toolbar-title>Excel style filtering</igx-grid-toolbar-title>
    </igx-grid-toolbar>
    <igx-paginator [perPage]="basic_grid_1_Page_Size" [totalRecords]="basicGrid1_Data_Request?.totalRecordsCount ?? 0" [page]="basic_grid_1_Page_Index" (pageChange)="basic_grid_1_Page_Index = $event" (perPageChange)="basic_grid_1_Page_Size = $event"></igx-paginator>
    <igx-column field="customerId" dataType="string" header="customerId" [editable]="false" [filterable]="true" [groupable]="true" [sortable]="true" [resizable]="true"></igx-column>
    <igx-column-group header="Contact info">
      <igx-column field="companyName" dataType="string" header="Company name" [filterable]="true" [groupable]="true" [sortable]="true" [resizable]="true" required="true" [maxlength]="100"></igx-column>
      <igx-column field="contactName" dataType="string" header="Contact" [filterable]="true" [groupable]="true" [sortable]="true" [resizable]="true" [maxlength]="50"></igx-column>
      <igx-column field="contactTitle" dataType="string" header="Contact title" [filterable]="true" [groupable]="true" [sortable]="true" [resizable]="true" [maxlength]="50"></igx-column>
    </igx-column-group>
    <igx-column-group header="Address info">
      <igx-column field="address.street" dataType="string" header="Street" [filterable]="true" [groupable]="true" [sortable]="true" [resizable]="true" [maxlength]="100"></igx-column>
      <igx-column field="address.city" dataType="string" header="City" [filterable]="true" [groupable]="true" [sortable]="true" [resizable]="true" [maxlength]="50"></igx-column>
      <igx-column field="address.postalCode" dataType="string" header="Postal code" [filterable]="true" [groupable]="true" [sortable]="true" [resizable]="true" [maxlength]="20"></igx-column>
      <igx-column field="address.country" dataType="string" header="Country" [filterable]="true" [groupable]="true" [sortable]="true" [resizable]="true" [maxlength]="50"></igx-column>
      <igx-column field="address.phone" dataType="string" header="Phone" [filterable]="true" [groupable]="true" [sortable]="true" [resizable]="true" pattern="^\+?[0-9][0-9\-]{1,14}$"></igx-column>
    </igx-column-group>
    <igx-action-strip>
      <igx-grid-pinning-actions></igx-grid-pinning-actions>
      <igx-grid-editing-actions [addRow]="true"></igx-grid-editing-actions>
    </igx-action-strip>
  </igx-grid>
</div>
