:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.navbar {
  height: max-content;
  min-width: min-content;
}
.nav-drawer {
  min-width: min-content;
  min-height: 0;
  max-width: 280px;
  flex-shrink: 0;
}
.view-container {
  overflow: auto;
  position: relative;
  margin: 16px;
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
}
.navbar-content {
  gap: 1rem;
}
.icon-button {
  --ig-size: var(--ig-size-large);
}
.h6 {
  margin: 0;
}
.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--ig-primary-500);
}
.avatar {
  --ig-size: var(--ig-size-medium);
  --igx-avatar-background: transparent;
}
.text {
  height: max-content;
  min-width: min-content;
}
.hyperlink {
  color: var(--ig-info-500);
  height: max-content;
  min-width: min-content;
}
.icon_1 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.text_1 {
  text-align: center;
  color: var(--ig-gray-600);
  height: max-content;
  min-width: min-content;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  overflow: auto;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  border-color: var(--ig-gray-300);
  border-width: 0px 0px 1px;
  border-style: solid;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 24px 16px;
  min-width: 50px;
  min-height: 50px;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: min-content;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_3 {
  border-color: var(--ig-gray-300);
  border-width: 0px 0px 1px;
  border-style: solid;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 8px 16px;
  min-width: 50px;
  min-height: 50px;
}
