<div class="column-layout group">
  <igx-tabs class="tabs">
    <igx-tab-item [selected]="true" class="tab-item">
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          info
        </igx-icon>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          backup
        </igx-icon>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
    </igx-tab-item>
  </igx-tabs>
  <igx-tabs tabAlignment="center" class="tabs">
    <igx-tab-item [selected]="true" class="tab-item">
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          info
        </igx-icon>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          info
        </igx-icon>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          info
        </igx-icon>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          info
        </igx-icon>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          info
        </igx-icon>
        <span igxTabHeaderLabel>Label</span>
      </igx-tab-header>
    </igx-tab-item>
  </igx-tabs>
  <igx-tabs tabAlignment="end" class="tabs">
    <igx-tab-item [selected]="true" class="tab-item">
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          assignment
        </igx-icon>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          account_balance_wallet
        </igx-icon>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          account_circle
        </igx-icon>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          info
        </igx-icon>
      </igx-tab-header>
    </igx-tab-item>
  </igx-tabs>
  <igx-tabs class="tabs">
    <igx-tab-item class="tab-item">
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
      <igx-tab-header></igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
      <igx-tab-header></igx-tab-header>
    </igx-tab-item>
    <igx-tab-item [selected]="true" class="tab-item">
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
      <igx-tab-header></igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
      <igx-tab-header></igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
      <igx-tab-header></igx-tab-header>
    </igx-tab-item>
  </igx-tabs>
  <div class="row-layout group_1">
    <igx-tabs tabAlignment="justify" class="tabs">
      <igx-tab-item [selected]="true" class="tab-item">
        <igx-tab-content class="row-layout tab-item-content_1"></igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content_2">
          <igx-card class="card">
            <igx-card-header>
              <h3 igxCardHeaderTitle>
                Title goes here...
              </h3>
              <h5 igxCardHeaderSubtitle>
                Subtitle goes here...
              </h5>
            </igx-card-header>
            <igx-card-actions class="actions-content">
              <ng-container igxStart>
                <button igxButton="flat" type="button" class="button">
                  Button
                </button>
              </ng-container>
              <ng-container igxEnd>
                <button igxIconButton="flat">
                  <igx-icon>
                    favorite
                  </igx-icon>
                </button>
                <button igxIconButton="flat">
                  <igx-icon>
                    bookmark
                  </igx-icon>
                </button>
                <button igxIconButton="flat">
                  <igx-icon>
                    share
                  </igx-icon>
                </button>
              </ng-container>
            </igx-card-actions>
          </igx-card>
        </igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content">
          <igx-calendar [hasHeader]="true" headerOrientation="horizontal" class="calendar"></igx-calendar>
        </igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>Label</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content"></igx-tab-content>
        <igx-tab-header>
          <igx-icon igxTabHeaderIcon>
            info
          </igx-icon>
          <span igxTabHeaderLabel>TabEnd</span>
        </igx-tab-header>
      </igx-tab-item>
    </igx-tabs>
  </div>
</div>
<div class="column-layout group">
  <igx-tabs tabAlignment="justify" class="tabs">
    <igx-tab-item [selected]="true" class="tab-item">
      <igx-tab-content class="column-layout tab-item-content_3">
        <div class="column-layout group_2">
          <div class="row-layout group_2">
            <igx-input-group type="border" class="input">
              <igx-prefix>
                <igx-icon class="icon">
                  person
                </igx-icon>
              </igx-prefix>
              <input type="text" [(ngModel)]="value" igxInput />
              <label igxLabel>Label</label>
            </igx-input-group>
            <igx-input-group type="border" class="input">
              <igx-prefix>
                <igx-icon class="icon">
                  lock
                </igx-icon>
              </igx-prefix>
              <input type="password" [(ngModel)]="value1" igxInput />
              <label igxLabel>Password</label>
            </igx-input-group>
            <igx-input-group type="border" class="input">
              <input type="text" [(ngModel)]="value2" igxInput />
              <label igxLabel>Label</label>
            </igx-input-group>
          </div>
          <button igxButton="contained" type="button" class="button_1">
            Some action
          </button>
        </div>
        <igx-grid [data]="northwindAPIIGCustomerDto" primaryKey="customerId" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
          <igx-column field="customerId" dataType="string" header="customerId" [filterable]="true" [sortable]="true" [selectable]="false"></igx-column>
          <igx-column field="companyName" dataType="string" header="companyName" [filterable]="true" [sortable]="true" required="true" [maxlength]="100" [selectable]="false"></igx-column>
          <igx-column field="contactName" dataType="string" header="contactName" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="contactTitle" dataType="string" header="contactTitle" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="address.street" dataType="string" header="address street" [filterable]="true" [sortable]="true" [maxlength]="100" [selectable]="false"></igx-column>
          <igx-column field="address.city" dataType="string" header="address city" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="address.region" dataType="string" header="address region" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="address.postalCode" dataType="string" header="address postalCode" [filterable]="true" [sortable]="true" [maxlength]="20" [selectable]="false"></igx-column>
          <igx-column field="address.country" dataType="string" header="address country" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="address.phone" dataType="string" header="address phone" [filterable]="true" [sortable]="true" pattern="^\+?[0-9][0-9\-]{1,14}$" [selectable]="false"></igx-column>
        </igx-grid>
      </igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          grid_on
        </igx-icon>
        <span igxTabHeaderLabel>input + grid</span>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="row-layout tab-item-content">
        <igx-grid [data]="northwindAPIIGCustomerDto" primaryKey="customerId" [allowAdvancedFiltering]="true" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
          <igx-grid-toolbar>
            <igx-grid-toolbar-actions>
              <igx-grid-toolbar-advanced-filtering></igx-grid-toolbar-advanced-filtering>
            </igx-grid-toolbar-actions>
            <igx-grid-toolbar-title>Grid Toolbar</igx-grid-toolbar-title>
          </igx-grid-toolbar>
          <igx-column field="customerId" dataType="string" header="customerId" [filterable]="true" [sortable]="true" [selectable]="false"></igx-column>
          <igx-column field="companyName" dataType="string" header="companyName" [filterable]="true" [sortable]="true" required="true" [maxlength]="100" [selectable]="false"></igx-column>
          <igx-column field="contactName" dataType="string" header="contactName" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="contactTitle" dataType="string" header="contactTitle" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="address.street" dataType="string" header="address street" [filterable]="true" [sortable]="true" [maxlength]="100" [selectable]="false"></igx-column>
          <igx-column field="address.city" dataType="string" header="address city" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="address.region" dataType="string" header="address region" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="address.postalCode" dataType="string" header="address postalCode" [filterable]="true" [sortable]="true" [maxlength]="20" [selectable]="false"></igx-column>
          <igx-column field="address.country" dataType="string" header="address country" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="address.phone" dataType="string" header="address phone" [filterable]="true" [sortable]="true" pattern="^\+?[0-9][0-9\-]{1,14}$" [selectable]="false"></igx-column>
        </igx-grid>
      </igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          arrow_forward
        </igx-icon>
        <span igxTabHeaderLabel>Row layout + grid</span>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="column-layout tab-item-content">
        <igx-grid [data]="northwindAPIIGEmployeeDto" primaryKey="employeeId" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
          <igx-column field="employeeId" dataType="number" header="employeeId" [filterable]="true" [sortable]="true" [selectable]="false"></igx-column>
          <igx-column field="lastName" dataType="string" header="lastName" [filterable]="true" [sortable]="true" required="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="firstName" dataType="string" header="firstName" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="title" dataType="string" header="title" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="titleOfCourtesy" dataType="string" header="titleOfCourtesy" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="birthDate" dataType="date" header="birthDate" [filterable]="true" [sortable]="true" [selectable]="false"></igx-column>
          <igx-column field="hireDate" dataType="date" header="hireDate" [filterable]="true" [sortable]="true" [selectable]="false"></igx-column>
          <igx-column field="addressId" dataType="string" header="addressId" [filterable]="true" [sortable]="true" [selectable]="false"></igx-column>
          <igx-column field="address.street" dataType="string" header="address street" [filterable]="true" [sortable]="true" [maxlength]="100" [selectable]="false"></igx-column>
          <igx-column field="address.city" dataType="string" header="address city" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="address.region" dataType="string" header="address region" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="address.postalCode" dataType="string" header="address postalCode" [filterable]="true" [sortable]="true" [maxlength]="20" [selectable]="false"></igx-column>
          <igx-column field="address.country" dataType="string" header="address country" [filterable]="true" [sortable]="true" [maxlength]="50" [selectable]="false"></igx-column>
          <igx-column field="address.phone" dataType="string" header="address phone" [filterable]="true" [sortable]="true" pattern="^\+?[0-9][0-9\-]{1,14}$" [selectable]="false"></igx-column>
          <igx-column field="notes" dataType="string" header="notes" [filterable]="true" [sortable]="true" [maxlength]="1000" [selectable]="false"></igx-column>
          <igx-column field="avatarUrl" dataType="string" header="avatarUrl" [filterable]="true" [sortable]="true" pattern="^https?:\/\/.+\..+" [selectable]="false"></igx-column>
          <igx-column field="reportsTo" dataType="number" header="reportsTo" [filterable]="true" [sortable]="true" [min]="1" [max]="2147483647" [selectable]="false"></igx-column>
        </igx-grid>
      </igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          arrow_downward
        </igx-icon>
        <span igxTabHeaderLabel>Column layout + grid</span>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-content class="row-layout tab-item-content_4">
        @for (item of northwindEmployees; track item) {
          <igx-card [horizontal]="true" class="card_1">
            <div class="group_3">
              <igx-card-header>
                <h3 igxCardHeaderTitle>
                  {{ item.lastName }}
                </h3>
                <h5 igxCardHeaderSubtitle>
                  {{ item.title }}
                </h5>
              </igx-card-header>
            </div>
            <igx-card-media width="100px" class="media-content">
              <img [src]="item.avatarUrl" alt="" class="image" />
            </igx-card-media>
          </igx-card>
        }
      </igx-tab-content>
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          wrap_text
        </igx-icon>
        <span igxTabHeaderLabel>Wrapping content</span>
      </igx-tab-header>
    </igx-tab-item>
    <igx-tab-item class="tab-item">
      <igx-tab-header>
        <igx-icon igxTabHeaderIcon>
          bar_chart
        </igx-icon>
        <span igxTabHeaderLabel>Chart</span>
      </igx-tab-header>
      <igx-tab-content class="row-layout tab-item-content_5">
        <igx-category-chart [dataSource]="financialBoxOfficeRevenue" chartType="column" computedPlotAreaMarginMode="series" class="category-chart"></igx-category-chart>
      </igx-tab-content>
    </igx-tab-item>
  </igx-tabs>
</div>
