<div class="column-layout group">
  <apx-chart [series]="series" [chart]="chart" [title]="title" [theme]="theme" [legend]="legend" [markers]="markers" [dataLabels]="dataLabels" class="apex-chart"></apx-chart>
</div>
<div class="column-layout group">
  <apx-chart [series]="series1" [chart]="chart1" [stroke]="stroke" [title]="title1" [theme]="theme1" [legend]="legend1" [markers]="markers1" [dataLabels]="dataLabels1" class="apex-chart"></apx-chart>
</div>
<div class="column-layout group">
  <apx-chart [series]="series2" [chart]="chart2" [title]="title2" [theme]="theme2" [legend]="legend2" [markers]="markers2" [dataLabels]="dataLabels2" class="apex-chart"></apx-chart>
</div>
<div class="column-layout group">
  <apx-chart [series]="series3" [chart]="chart3" [stroke]="stroke1" [title]="title3" [theme]="theme3" [legend]="legend3" [markers]="markers3" [dataLabels]="dataLabels3" class="apex-chart"></apx-chart>
</div>
<div class="column-layout group_1">
  <apx-chart [series]="series4" [chart]="chart4" [stroke]="stroke2" [title]="title4" [theme]="theme4" [legend]="legend4" [markers]="markers4" [dataLabels]="dataLabels4" class="apex-chart"></apx-chart>
</div>
<div class="column-layout group_1">
  <apx-chart [series]="series5" [chart]="chart5" [stroke]="stroke3" [title]="title5" [theme]="theme5" [legend]="legend5" [markers]="markers5" [dataLabels]="dataLabels5" class="apex-chart"></apx-chart>
</div>
<div class="column-layout group_1">
  <apx-chart [series]="series6" [chart]="chart6" [stroke]="stroke4" [title]="title6" [theme]="theme6" [legend]="legend6" [markers]="markers6" [dataLabels]="dataLabels6" class="apex-chart"></apx-chart>
</div>
<div class="column-layout group_1">
  <apx-chart [series]="series7" [chart]="chart7" [stroke]="stroke5" [title]="title7" [theme]="theme7" [legend]="legend7" [markers]="markers7" [dataLabels]="dataLabels7" class="apex-chart"></apx-chart>
</div>
<div class="column-layout group_1">
  <apx-chart [series]="series8" [chart]="chart8" [theme]="theme8" [legend]="legend8" [markers]="markers8" [dataLabels]="dataLabels8" class="apex-chart"></apx-chart>
</div>
<div class="column-layout group_1">
  <apx-chart [series]="series9" [chart]="chart9" [title]="title8" [theme]="theme9" [legend]="legend9" [markers]="markers9" [dataLabels]="dataLabels9" class="apex-chart"></apx-chart>
</div>
<div class="column-layout group_1">
  <apx-chart [series]="series10" [chart]="chart10" [theme]="theme10" [legend]="legend10" [markers]="markers10" [dataLabels]="dataLabels10" class="apex-chart"></apx-chart>
</div>
<div class="column-layout group_1">
  <apx-chart [series]="series11" [chart]="chart11" [title]="title9" [theme]="theme11" [legend]="legend11" [markers]="markers11" [dataLabels]="dataLabels11" class="apex-chart"></apx-chart>
</div>
<div class="column-layout group_1">
  <apx-chart [series]="series12" [colors]="colors" [chart]="chart12" [title]="title10" [theme]="theme12" [legend]="legend12" [markers]="markers12" [dataLabels]="dataLabels12" class="apex-chart"></apx-chart>
</div>
