:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 32px;
  padding: 16px;
  width: 500px;
  min-width: 50px;
  min-height: 50px;
  max-width: 500px;
}
.select {
  --ig-size: var(--ig-size-large);
  height: max-content;
  min-width: min-content;
}
.user-input {
  height: max-content;
  min-width: min-content;
}
.combo {
  --ig-size: var(--ig-size-small);
  height: max-content;
  min-width: min-content;
}
.date-picker {
  width: 469px;
  height: max-content;
  min-width: 120px;
  max-width: 469px;
}
.icon {
  --size: 18px;
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.icon_1 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.icon_2 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--ig-warn-500);
}
